<script setup>
import { useModalUpdateStore } from '../stores/modalUpdate.js';
const modalUpdate = useModalUpdateStore();
</script>

<template>
    <div v-if="modalUpdate.isVisible" class="modal-mask">
        <div class="modal-wrapper">
            <div class="modal-container">
                <h2>Kontakt bearbeiten</h2>

                <div>
                    <label for="inputVorname">Vorname</label>
                    <input v-model="modalUpdate.vorname" id="inputVorname" type="text">
                </div>

                <div>
                    <label for="inputNachname">Nachname</label>
                    <input v-model="modalUpdate.nachname" id="inputNachname" type="text">
                </div>

                <div>
                    <label for="checkBot">Bot</label>
                    <input v-model="modalUpdate.bot" id="checkBot" type="checkbox">
                </div>
                <div>
                    <h2>Schuhgröße</h2>
                    <div>Schuhgröße: {{ modalUpdate.schugroesse }}</div>
                    <input type="range" min="30" max="52" class="slider"
                    id="schugroesse"
                     v-model="modalUpdate.schugroesse">
                </div>

                <div>
                    <label for="selectGender">Geschlecht</label>
                    <select v-model="modalUpdate.gender" id="selectGender">
                        <option value="m">männlich</option>
                        <option value="w">weiblich</option>
                        <option value="d">divers</option>
                    </select>
                </div>

                <div>
                    <h2>Haarfarbe</h2>
                    <label for="radioGruen">Grün</label>
                    <input id="radioGruen" type="radio" value ="gruen" v-model="modalUpdate.haarfarbe">
                    
                    <label for="radioLila">Lila</label>
                    <input id="radioLila" type="radio" value="lila" v-model="modalUpdate.haarfarbe">
                    
                    <label for="radioGlatze">Glatze</label>
                    <input id="radioGlatze" type="radio" value="glatze" v-model="modalUpdate.haarfarbe">
                </div>


                <button @click="modalUpdate.buttonCancelClick">Abbrechen</button>
                <button @click="modalUpdate.buttonSaveClick">Speichern</button>
            </div>
        </div>
    </div>
</template>

<style scoped>
        .modal-mask {
            position: fixed;
            z-index: 9998;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            display: table;
        }

        .modal-wrapper {
            display: table-cell;
            vertical-align: middle;
        }

.modal-container {
    background-color: antiquewhite;
    width: 20em;
    margin: 0 auto;
    padding: 0.5em;
}
div{
margin-bottom: 1em;
padding-top: 0.1em;
}
h2{
    margin-bottom: -0.1em;
    margin-top: -0.2em;
}
label{
    padding-right: 0.3em;
    margin-right: 0.2em;
}
button{
    margin-left: 0.5em
}
input{
    margin-top: -0.6em;
    margin-bottom: -0.1em;
}

</style>
