<script setup>
import { useModalCreateStore } from '../stores/modalCreate.js';
const modalCreate = useModalCreateStore();
</script>

<template>
    <div v-if="modalCreate.isVisible" class="modal-mask">
        <div class="modal-wrapper">
            <div class="modal-container">
                <h2>Neuen Kontakt erstellen</h2>

                <div>
                    <label for="inputVorname">Vorname</label>
                    <input v-model="modalCreate.vorname" id="inputVorname" type="text">
                </div>

                <div>
                    <label for="inputNachname">Nachname</label>
                    <input v-model="modalCreate.nachname" id="inputNachname" type="text">
                </div>

                <div>
                    <label for="checkBot">Bot</label>
                    <input v-model="modalCreate.bot" id="checkBot" type="checkbox">
                </div>
                <div>
                    <h2>Schuhgröße</h2>
                    <div>Schuhgröße: {{ modalCreate.schugroesse }}</div>
                    <input type="range" min="30" max="52" class="slider"
                    id="schugroesse"
                     v-model="modalCreate.schugroesse">
                </div>

                <div>
                    <label for="selectGender">Geschlecht</label>
                    <select v-model="modalCreate.gender" id="selectGender">
                        <option value="m">männlich</option>
                        <option value="w">weiblich</option>
                        <option value="d">divers</option>
                    </select>
                </div>

                <div>
                    <h2>Haarfarbe</h2>
                    <label for="radioGruen">Grün</label>
                    <input id="radioGruen" type="radio" value ="gruen" v-model="modalCreate.haarfarbe">
                    
                    <label for="radioLila">Lila</label>
                    <input id="radioLila" type="radio" value="lila" v-model="modalCreate.haarfarbe">
                    
                    <label for="radioGlatze">Glatze</label>
                    <input id="radioGlatze" type="radio" value="glatze" v-model="modalCreate.haarfarbe">
                </div>

                <button @click="modalCreate.buttonCancelClick">Abbrechen</button>
                <button @click="modalCreate.buttonSaveClick">Speichern</button>
            </div>
        </div>
    </div>
</template>

<style scoped>
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    background-color: antiquewhite;
    width: 20em;
    margin: 0 auto;
    padding: 0.5em;
}
div{
margin-bottom: 1em;
padding-top: 0.1em;
}
h2{
    margin-bottom: -0.1em;
    margin-top: -0.2em;
}
label{
    padding-right: 0.3em;
    margin-right: 0.2em;
}
button{
    margin-left: 0.5em
}
input{
    margin-top: -0.6em;
    margin-bottom: -0.1em;
}

</style>
