<script setup>
import { ref } from 'vue';
import { useKontakteStore } from '../stores/kontakte.js';
import { useModalDeleteStore } from '../stores/modalDelete.js';
import { useModalUpdateStore } from '../stores/modalUpdate.js';
const kontakte = useKontakteStore();
const modalDelete = useModalDeleteStore();
const modalUpdate = useModalUpdateStore();

// show / hide id-column
const debug = ref(false);

function buttonDeleteClick(kontakt) {
    modalDelete.show(kontakt);
}

function buttonUpdateClick(kontakt) {
    modalUpdate.show(kontakt);
}

function fullName(kontakt) {
    let geschlecht = '';
    if (kontakt.gender === 'w') {
        geschlecht = 'Frau';
    }
    if (kontakt.gender === 'm') {
        geschlecht = 'Herr';
    }

    let bot = '';
    if (kontakt.bot) {
        bot = '🤖';
    }

    return `${geschlecht} ${kontakt.vorname} ${kontakt.nachname} ${bot}, Haarfarbe: ${kontakt.haarfarbe}, Schuhgröße: ${kontakt.schugroesse}`;
}
</script>

<template>
    <div class="component">
        <h2>Kontakte</h2>
        <ul>
            <li class="container" v-for="kontakt in kontakte.kontaktlist" :key="kontakt.id">
                <div v-if="debug">{{ kontakt.id }}</div>
                <div>{{ fullName(kontakt) }}</div>
                <div>
                    <button @click="buttonDeleteClick(kontakt)">❌</button>
                    <button @click="buttonUpdateClick(kontakt)">🖉</button>
                </div>
            </li>
        </ul>
    </div>
</template>

<style scoped>
.container {
    display: flex;
    justify-content: space-between;
    
}

ul {
    padding: 0;
}

li {
    padding: 0.5em;
    border: 1px solid black;
}

li:nth-child(odd) {
    background-color: aliceblue;
}
</style>