body {
  background-color: rgb(226, 161, 20);
  font-family: sans-serif;
  max-width: 50em;
  margin: 0 auto;
  text-align: center;
}

.component {
  background-color: rgb(218, 218, 145);
  border: 1px solid black;
  box-shadow: 2px 2px 2px black;
  width: 80%;
  margin: 1em auto;
}

